body{
  background-color: #ddd;
}

.App{
  background-color: #ddd;
}
.App-wrapper{
  position: relative;
  height: 100vh;
  width: 100%;
  background: #ddd;
  
}


.App-content{
  margin-top: 10px;
  background-color: #fff;
  height: 100vh;
  padding:10px;
  border-radius: 5px;
}